#navBar {
    background-color:rgb(27, 34, 45);


}
body {
    height:100%;
}
.wrapper {
    display:grid;
    grid-template-columns: 1fr 6fr;
    height:auto;
}

.sidebar {
    grid-column:1/2;
}
.tags {
    grid-column: 2/3;
}

.cardSpace {
    margin-top: 20px;
    display:flex;
    
}

.cards {
    transition: all 1s ease-in-out; 

}
.cards :hover {
    transform: scale(1.1); 

}



.card {
    height:500px;
    width:500px;
    margin-left: 80px;
    margin-bottom:40px;
    border:1px solid black;
    text-align: center;
    transition: all .2s ease-in-out; 

}

.card:hover {
    transform: scale(1.1); 

}

.colorTitle {
    font-weight:500;
    font-size:60pt;
    margin-left:80px;
    margin-top:60px;
    margin-bottom:40px;

}
