<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='new_8/tag.css') }}"> 



    <title>Document</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg" id="navBar">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://172.30.1.100:8080/home" style="font-size:20pt; color:#4CBB17; font-weight:800;">Green<span style="color:white; font-size:20pt"> Story</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item"  style="padding-left: 1000px;">
            <a class="nav-link" id='tag' href="http://172.30.1.100:8080/tag" style="color:whitesmoke; font-size:12pt; font-weight:800;">Tags</a>
          </li>
          <li class="nav-item"  style="padding-left: 10px;">
            <a class="nav-link" id="all" href="http://172.30.1.100:8080/all" style="color:whitesmoke; font-size:12pt; font-weight:800">Color</a>
          </li>
          
          <li class="nav-item" style="padding-left: 10px;">
            <a class="nav-link" href="http://172.30.1.100:8080/profile" style="color:whitesmoke; font-size:12pt; font-weight: 800;">Profile</a>
          </li>
          <li class="nav-item" style="padding-left: 10px;">
            <a class="nav-link" href="http://172.30.1.100:8080/" style="color:whitesmoke; font-size:12pt;font-weight:800;">Logout</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
    
    <section class="wrapper">
        <div class="sidebar">

        </div>
        <div class="tags">
            <button class="tagTitle">
                # Healthy Skin
            </button>
        
            <section class="cardSpace">
        
        
             
                    
        
            </section>
        
            <button class="tagTitle">
                # Promote Digestion
            </button>
        
            <section class="cardSpace2">
        

        
            </section>

            <button class="tagTitle">
              # Osteporosis Prevention
          </button>
      
          <section class="cardSpace3">
                  
      
          </section>

          <button class="tagTitle">
            # Hypertension Prevention
        </button>
    
        <section class="cardSpace4">
  
                
    
        </section>
            
        </div>
    </section>

    <script src="../static/tag.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='tag.js') }}"> 


</body>
</html>