<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/detail.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>

  <section class="header">
    <nav class="navbar navbar-expand-lg" id="navBar">
      <div class="container-fluid">
        <a class="navbar-brand" href="home.html" style="font-size:20pt; color: #4CBB17	; font-weight:800;">Green <span style="color:white; font-size:20pt">Story</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item"  style="padding-left: 1000px;">
              <a class="nav-link" id='tag' href="tag.html" style="color:whitesmoke; font-size:12pt;font-weight:800;">Tags</a>
            </li>
            <li class="nav-item"  style="padding-left: 10px;">
              <a class="nav-link" id="all" href="all.html" style="color:whitesmoke; font-size:12pt;font-weight:800;">Color</a>
            </li>
            
            <li class="nav-item" style="padding-left: 10px;">
              <a class="nav-link" href="profile.html" style="color:whitesmoke; font-size:12pt;font-weight:800;">Profile</a>
            </li>
            <li class="nav-item" style="padding-left: 10px;">
              <a class="nav-link" href="login.html" style="color:whitesmoke; font-size:12pt;font-weight:800;">Login</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    </section>

      <section class="wrapper">

        <div class="sidebar">List of other veggies</div>
        <div class="food" >
            <h1 style="font-size:30pt; font-weight:600; text-align:left;">Cabbage</h1><br>
            <h2 style="font-size:12pt;">The cabbage, or brassica, family is huge, and includes everything from the familiar red, white or green varieties with tightly packed leaves, to cauliflower, broccoli, Brussels sprouts as well as pak choi, popular in Asian cookery.

                The round, crinkle-leafed Savoy cabbage and the pale, lozenge-shaped Chinese leaf are considered to be two of the best to cook with. The flavour of cabbage varies from type to type, ranging from savoury to gently sweet, but one thing they all have in common is a rank smell if overcooked, so brief cooking is key.</h2>
        </div>
        <div class="foodImg"></div>
        <div class="content">
            <div class="line"></div>      

            <div class="description">      
                <div class="circle" style="font-weight:bolder;"><i class="bi bi-star"></i>
                    Nutrients:</div>
                <div class="nutrients">Vitamin K, Vitamin C, Potassium</div>
                <div class="season"  style="font-weight:bolder;"><i class="bi bi-star" style="border:#214832"></i> Season</div>
                <div class="seasonInfo"><p>Spring: March ~ May</p><p>Fall: January ~ March</p></div>
                <div class="howToPick"  style="font-weight:bolder;"><i class="bi bi-star"></i> How To Pick
                <p>All cabbages should look bright, with crisp leaves. Avoid those that feel puffy, whose leaves have holes (an insect might have burrowed its way in) or whose outer leaves have been stripped away, which some retailers do to cabbages that start to loose their freshness. Varieties with tightly packed leaves should feel heavy.</p>
            </div>

        </div>
        <div class="line"></div>

        <div class="benefits">
            <div class="benefitText">       <h1 style="color:green; font-size:30pt; font-weight:400;">Benefits</h1></div>
            <div class="benefitCircle">Skin Care</div>

     
        </div>



        <div class="recipes">
          <div class="line"></div>
            <div class="recipeText"> <h1 style="color:green; font-size:30pt; font-weight:400;">Recipes </h1></div>
            <a href="moreRecipe.html" style="color:black;" ><i class="bi bi-plus-square"></i>
            </a>


            <div class="recipeType"><h2>Cabbage Greens <button type="button" onclick="fillHeart()" class="btn btn-link" style="position:relatve; left:320px; height:40px;" id="heart"><span class="bi bi-heart" id="heartIcon" style=" color:red; height:40px;"></span></button>
            </h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aperiam molestias ratione tenetur voluptatum expedita sint, quaerat facere tempora amet officiis maiores eaque pariatur dolorum reiciendis? Obcaecati maiores possimus quas.</p></div>
            <div class="recipeImage"></div>
        </div>

        <div class="youtube">
            <div class="youtubeText"><h1 style="color:green; font-size:30pt; font-weight:400;">More Content</h1></div>
            <div class="video1"><iframe width="100%" height="400" src="https://www.youtube.com/embed/0sURyrysnP8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div class="video2"><iframe width="100%" height="400" src="https://www.youtube.com/embed/Xawytnt5Fuk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>


      </section>

      <script type="text/javascript" src="../main.js"></script>

</body>
</html>